.workList {
    display: inline-block;
    width: 100%;
    padding-left: 40px;
}

.card {
    width: 33%;
    border-top: 1px solid gray;
    margin-right: 50px;
    margin-bottom: 50px;
    font-size: 13px;
}

.col {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

a>img {
    width: 100%;
}

.github_wrap {
    width: 100%;
    text-align: center;
}

.github_img {
    width: 50px;
}