* {
    font-family: 'BMDOHYUN', 'Spoqa Han Sans JP', 'sans-serif';
    box-sizing: border-box;
}

@font-face {
    font-family: BMDOHYUN;
    src: url(./font/BMDOHYEON.otf);
}

.App {
    display: flex;
    margin-top: 16px
}

.App-title {
    font-size: 1.5rem;
}

h1 {
    padding-right: 50px;
}

header {
    width: 270px;
    padding-left: 20px;
}

.main {
    width: 50%;
}

.menuList {
    display: flex;
    list-style: none;
    padding-top: 16px;
    padding-bottom: 32px;
    font-size: 20px;
}

address {
    text-decoration: none;
}

.aboutList {
    display: inline-block;
    margin-right: 50px;
}

.emailTag {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    color: #181818
}

.copyTag {
    margin-top: 300px;
}

.workList {
    display: inline-block;
    padding-left: 40px;
}

li:hover {
    border-bottom: 3px solid #181818;
    display: inline-block;
}

li {
    display: inline;
}